<div class="d-flex flex-column justify-content-center bg-light">
  <form [formGroup]="registerForm" (ngSubmit)='submitForm()' class="w-50 align-self-center">

    <h5 class="d-flex justify-content-center mt-3 ml-4 mr-4">Please Sign Up</h5>

    <div class="form-group d-flex flex-column mt-3 ml-4 mr-4">
      <label for="name">Name <small class="text-danger font-weight-bold">*</small></label>
      <input
        id='name'
        type="text"
        formControlName='name'
        class='formControl w-50'
        required>
      <div>
        <small class="text-muted">Only letters are allowed</small>
      </div>
      <div
        *ngIf="registerForm.controls.name.invalid && (registerForm.controls.name.dirty || registerForm.controls.name.touched)"
        class="alert alert-danger mt-2 mb-1 ml-3 mr-3">
        <div *ngIf="registerForm.controls.name.errors.required">
          Name is required
        </div>
        <div *ngIf="registerForm.controls.name.errors.minlength">
          Name must be at least 6 characters long
        </div>
        <div *ngIf="registerForm.controls.name.errors.maxlength">
          Name must be up to 100 characters long
        </div>
        <div *ngIf="registerForm.controls.name.errors.credsValidator">
          Please use only letters
        </div>
      </div>
    </div>

    <div class="form-group d-flex flex-column mt-3 ml-4 mr-4">
      <label for="email">E-mail <small class="text-danger font-weight-bold">*</small></label>
      <input
        id='email'
        type="text"
        formControlName='email'
        class='formControl w-50'
        required>
      <div
        *ngIf="registerForm.controls.email.invalid && (registerForm.controls.email.dirty || registerForm.controls.email.touched)"
        class="alert alert-danger mt-2 mb-1 ml-3 mr-3">
        <div *ngIf="registerForm.controls.email.errors.required">
          E-mail is required
        </div>
        <div *ngIf="registerForm.controls.email.errors.credsValidator">
          Please provide valid e-mail
        </div>
      </div>
    </div>

    <div class="form-group d-flex flex-column mt-3 ml-4 mr-4">
      <label for="login">Login <small class="text-danger font-weight-bold">*</small></label>
      <input
        id='regLogin'
        type="text"
        formControlName='login'
        class='formControl w-50'
        required>
      <div>
        <small class="text-muted">Only letters and digits are allowed</small>
      </div>
      <div
        *ngIf="registerForm.controls.login.invalid && (registerForm.controls.login.dirty || registerForm.controls.login.touched)"
        class="alert alert-danger mt-2 mb-1 ml-3 mr-3">
        <div *ngIf="registerForm.controls.login.errors.required">
          Login is required
        </div>
        <div *ngIf="registerForm.controls.login.errors.minlength">
          Login must be at least 6 characters long
        </div>
        <div *ngIf="registerForm.controls.login.errors.maxlength">
          Login must be up to 100 characters long
        </div>
        <div *ngIf="registerForm.controls.login.errors.credsValidator">
          Please use only letters and digits
        </div>
      </div>
    </div>

    <div class="form-group d-flex flex-column mt-3 ml-4 mr-4">
      <label for="password">Password <small class="text-danger font-weight-bold">*</small></label>
      <input
        id='regPassword'
        type="password"
        formControlName='password'
        class='formControl w-50'
        required>
      <div>
        <small class="text-muted">Only letters, digits, and underscores are allowed</small>
      </div>
      <div
        *ngIf="registerForm.controls.password.invalid && (registerForm.controls.password.dirty || registerForm.controls.password.touched)"
        class="alert alert-danger mt-2 mb-1 ml-3 mr-3">
        <div *ngIf="registerForm.controls.password.errors.required">
          Password is required
        </div>
        <div *ngIf="registerForm.controls.password.errors.minlength">
          Password must be at least 6 characters long
        </div>
        <div *ngIf="registerForm.controls.password.errors.maxlength">
          Password must be up to 100 characters long
        </div>
        <div *ngIf="registerForm.controls.password.errors.credsValidator">
          Please use only letters, digits and underscores
        </div>
      </div>
    </div>

    <div class="form-group d-flex flex-row justify-content-between">
      <button type="submit" class="btn btn-primary ml-4">Register Account</button>
      <button type="button" class="btn btn-primary mr-4">Return to Login Page</button>
    </div>

  </form>
</div>