<div class="d-flex flex-column bg-light">
  <form [formGroup]="registerForm">
    <div class="form-group d-flex flex-column mt-3">
      <label class="ml-5" for="login">Name:</label>
      <input
        type="text"
        formControlName='name'
        class='formControl w-25 ml-5'
        placeholder="Name">
    </div>
    <div class="form-group d-flex flex-column mt-3">
      <label class="ml-5" for="login">Login:</label>
      <input
        type="text"
        formControlName='login'
        class='formControl w-25 ml-5'
        placeholder="Login">
    </div>
    <div class="form-group d-flex flex-column">
      <label class="ml-5" for="password">Password:</label>
      <input
        type="password"
        formControlName='password'
        class='formControl w-25 ml-5'
        placeholder="Password">
    </div>
    <div class="form-group d-flex flex-row justify-content-between">
      <button class="btn btn-primary ml-5">Register Account</button>
      <button class="btn btn-primary mr-5">Return to Login Page</button>
    </div>
  </form>
</div>